:root{
    --darkblue:#191f49; 
    --white:#ffffff; 
    --lightBlue: #b5d9e0; 
    --fontR:'DejaVu Sans Mono';
    --lightgray: rgb(206, 242, 241);
}
*{
    font-family: var(--fontR);
}
header{
    background-color:var(--darkblue);
    font-family: var(--fontR);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px  ;
    font-size: 20px;
}
/* title */

.title h1 {
    background-color: var(--lightBlue);
    color:  var(--darkblue);
    padding: 15px 5px 5px 55px;
    text-align: center;
    display: flex;
}
/* nav */
nav li{
    justify-content: flex-end;
    justify-content: space-between;
    display:inline ;
    font-size: 25px;
}
nav a {
    color:var(--lightBlue);
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-align: center;
    padding: 10px;
    justify-content:space-around ;
}


/* ARTICLE-------ABOUT ME */
.subtitle-parent{
    display:flex ;
   }

.subtitle{
    border-color: black;
    display: flex;
    font-size: 30px;
    margin:  3%;
    text-align:end;
    width: 85px;

    
}
.par{
    display: flex;
    width: 90%;
    font-size: 20px;
    align-items: center;
    padding: 5px;
  
}
.project{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:center; */
    padding: 2%;
    border-left: 3px solid black;
    justify-items: end;
    align-items: center;
    width: 100%;


}

.project h1 , p {
    font-size: 12px;
    margin: 0px;
}

 .firstContainer{
    position: relative;
    flex: 0 0 1;
    width: 100%;
    padding: 1px;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
 
}
.text-blockFirst{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:var(--lightBlue);
  color: var(--darkblue);
  padding: 10px 25px 10px 25px;
  
}

.bigContainer{
    position: relative;
    flex: 0 0 1;
    padding: 1px;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
 
}
.bigContainer img {
    /* width: 720px;
    height: 200px; */
    width: 110%;
    height: 20%;
    border: 8px solid var(--lightBlue);  
   
  }
.bigContainer a:hover{
    filter: brightness(150%);
}
  
.text-BigBlock {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color:var(--lightBlue);
    color: var(--darkblue);
    padding: 15px;
  }


.container{
    position: relative;
    flex: 0 0 1;
    padding: 1px;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
 
}
.container img {
    width: 350px;
    height: 100px;
    /* width: 100%;
    height: 50%; */
    border: 6px solid var(--lightBlue);  
   
  }
.container a:hover{
    filter: brightness(150%);
}
  
  .text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color:var(--lightBlue);
    color: var(--darkblue);
    padding: 15px;

  }

 
  .contact-nav li{
    display:flex ; 
    flex-wrap: wrap; 
    display:inline ;
    justify-content: space-around;
    padding: 5px;
    
  
  }
  .contact-nav a{
    color:var(--darkblue);
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    padding: 40px;

  }
  
  